/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height) 'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >=900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
    padding: 50px;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
  font-weight: 500;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 400;
}

@media (width >=900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
    position: relative;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
    position: relative;
    padding: 15px;
  }

  header nav .nav-sections .default-content-wrapper>ul>li:hover {
    background-color: var(--capstone-background-color);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 0;
  }
}

@media (width >=1200px) {
  header nav[aria-expanded='true'] .nav-sections {
    left: 18%;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

/* Registration */
header .nav-wrapper #register-nav-header {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}

header .nav-wrapper #register-nav-header .register-nav {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .register-nav div:last-of-type>ul {
  all: unset;
  list-style: none;
  font-size: var(--body-font-size-xs);
}

header .register-nav div:last-of-type>ul>.nav-drop {
  position: relative;
  right: 27px
}

header .register-nav div:last-of-type>ul>.nav-drop > a img {
  margin: -7px;
}

header .register-nav div:last-of-type>ul>.nav-drop > u {
  text-decoration: none;
  font-size: 14px;
}

header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='false']::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0.5em;
  right: -15px;
  transform: rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
}

header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='false']>ul {
  display: none;
}

header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0.7em;
  right: -15px;
  transform: rotate(315deg);
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
}

header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']>ul {
  padding: 0;
  list-style: none;
  display: block;
  position: absolute;
  margin-top: 12px;
  background-color: #202020;
  white-space: initial;
  top: 38px;
  width: 315px;
  transform: translateX(-70%);
}

header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']>ul li {
  font-size: 14px;
  border-bottom-color: dimgray !important;
  border-bottom: 0.25px solid;
  padding: 1px 0 1px 15px;
}

header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']>ul li img {
  position: relative;
  top: 16px;
  left: -8px;
}

header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']>ul li u {
  display: block;
  position: relative;
  left: 25px;
}

header .form-container .form-wrapper .form {
  padding: 0;
  list-style: none;
  display: block;
  position: absolute;
  margin-top: 12px;
  background-color: black;
  white-space: initial;
  top: 35px;
  width: 315px;
  transform: translateX(15%);
}

@media(width >= 900px) {

  header .nav-wrapper #register-nav-header .register-nav {
    padding: 0.5% 2%;
    font-size: 1.2rem;
  }

  header .register-nav div:last-of-type>ul {
    font-size: 27px;
  }

  header .register-nav div:last-of-type>ul>.nav-drop {
    right: 35px;
  }

  header .register-nav div:last-of-type>ul>.nav-drop > u {
    font-size: 20px;
  }

  header .register-nav div:last-of-type>ul>.nav-drop > a img {
    margin: -5px;
  }

  header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']>ul {
    margin-top: 35px;
    top: 38px;
    width: 375px;
  }

  header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']>ul li { 
    font-size: 18px;
    padding: 5px 0 5px 20px;
  }

  header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='false']::after {
    top: 0.6em;
  }

  header .register-nav div:last-of-type>ul>.nav-drop[aria-expanded='true']::after {
    top: 0.8em;
  }

  header .form-container .form-wrapper .form {
    margin-top: 30px;
    top: 40px;
    width: 375px;
    transform: translateX(15%);
  }

}